body {
  background-image: url(/img/blankBook.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Times New Roman", Times, sans-serif;
  font-style: italic;
  padding-left: 110px;
}

.header {
  padding-left: 25px;
}

.words {
  font: black;
  font-size: 22px;
  font-weight: bold;
}

a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: black;
}
a:active {
  color: black;
}

.homepage {
  border: 1px;
  border-color: black;
}
